.hide-tab{
    display: none !important;
}
.show-tab{
    display:block !important;
}.counter{
    display:inline-block;
    width:10px;
    height:10px;
    background-color: red;
    color: white !important;
    font-size: 9px;
}