.a-page{
    padding: 15px;
    color: orange;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid orange;
    margin-right: 10px;
}
.active{
    background-color: orange;
    color:white;
    border:none;
}