<main>
    
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <ng-container *ngIf="userObj">
                                               <ng-container *ngIf="userObj.imagesPath[0];else noImg">
                                                <img #profileImg src={{userObj.imagesPath[0]|imagePipe}} alt="">
                                               </ng-container>
                                               <ng-template #noImg >
                                                <img #profileImg src="../../../../assets/images/no-user-image.jpg" alt="">
                                               </ng-template>
                                            </ng-container>
                                        </div>
                                    </div><!--username-dt end-->
                                    <div class="user-specs">
                                        <ng-container *ngIf="userObj">
                                            <h3 >{{userObj.firstName}} {{userObj.lastName}}</h3>
                                        </ng-container>
                                    </div>
                                </div><!--user-profile end-->
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Friends</h4>
                                        <ng-container *ngIf="userObj">
                                            <span>{{userObj.numberOfFriends}}</span>
                                        </ng-container>
                                        
                                    </li>
                                    <li>
                                        <a routerLink="/index/my-profile" title="">View Profile</a>
                                    </li>
                                </ul>
                            </div><!--user-data end-->
                            <div class="tags-sec full-width">
                                <ul>
                                </ul>
                                <div class="cp-sec">
                                    <img src="images/logo2.png" alt="">
                                    <p><img src="images/cp.png" alt="">Copyright 2019</p>
                                </div>
                            </div><!--tags-sec end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-9 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <div class="post-topbar">
                                <div class="user-picy">
                                    <ng-container *ngIf="userObj">
                                        <ng-container *ngIf="userObj.imagesPath[0];else noImg">
                                         <img #profileImg src={{userObj.imagesPath[0]|imagePipe}} alt="">
                                        </ng-container>
                                        <ng-template #noImg >
                                         <img #profileImg src="../../../../assets/images/no-user-image.jpg" alt="">
                                        </ng-template>
                                     </ng-container>
                                </div>
                                <div class="post-st">
                                    <ul>
                                        <li><a class="post_project" (click)="postPopUp()" title="">Post a Text</a></li>
                                        <li><a class="post-jb active" (click)="postImagePopUp()" title="">Post a Video or Photo</a></li>
                                    </ul>
                                </div><!--post-st end-->
                            </div><!--post-topbar end-->
                            <div class="posts-section">
                                <div *ngIf="posts != []">
                                    <ng-container *ngFor="let p of posts">
                                        <app-post [isYourPost]="false" [userObj]="p.name" [post]="p"></app-post>
                                    </ng-container>
                                    
                                </div>
                               
                                    <ngb-pagination [collectionSize]="totalCount" [maxSize]="5"
                                    [rotate]="true" (pageChange)="onPageChange($event)" [pageSize] = "perPage" [(page)]="page" [directionLinks]="false"></ngb-pagination>

                                <ng-container *ngIf="!showPosts">
                                    <div class="process-comm">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div><!--posts-section end-->
                        </div><!--main-ws-sec end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div> 
    </div>
    <div class="post-popup pst-pj" #post>
        <div class="post-project">
            <h3>Post a Text post</h3>
            <div class="post-project-fields">
                <form [formGroup]="postTextForm" (ngSubmit)="submitPostText()">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="title" formControlName="title" placeholder="Title">
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postTextForm.get('title').errors?.['required'] && postTextForm.get('title').touched">
                                Title is required!
                            </div>
                            <div class="alert alert-danger sn-filed" *ngIf="postTextForm.get('title').hasError('minlength') && postTextForm.get('title').touched">
                                Title cant must be long at least 3 characters!
                            </div>
                            <div class="alert alert-danger sn-filed" *ngIf="postTextForm.get('title').hasError('maxlength') && postTextForm.get('title').touched">
                                Title cant be longer that 50 characters!
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="inp-field">
                                Privacy
                                <select formControlName="privacy">
                                    <option value="private">Private</option>
                                    <option value="public">Public</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postTextForm.get('privacy')?.errors?.['required'] && postTextForm.get('privacy')?.touched">
                                Privacy is required
                              </div> 
                        </div>
                        <div class="col-lg-12">
                            <textarea name="description" formControlName="content" placeholder="Content"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postTextForm.get('content').errors?.['required'] && postTextForm.get('content').touched">
                              Content is required!
                            </div>
                            <div class="alert alert-danger sn-field" *ngIf="postTextForm.get('content').hasError('minlength') && postTextForm.get('content').touched">
                              Content must be at least 10 characters long!
                            </div>
                            <div class="alert alert-danger sn-field" *ngIf="postTextForm.get('content').hasError('maxlength') && postTextForm.get('content').touched">
                              Content cannot be longer than 1000 characters!
                            </div>
                          </div>
                          
                        <div class="col-lg-12">
                            <ul>
                                <li><button class="active" type="submit" value="post">Post</button></li>
                                <li><a (click)="postCancle()" title="">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div><!--post-project-fields end-->
            <a href="#" title=""><i class="la la-times-circle-o"></i></a>
        </div><!--post-project end-->
    </div><!--post-project-popup end-->
    
    <div class="post-popup job_post" #imagePost>
        <div class="post-project">
            <h3>Post a photo or video</h3>
            <div class="post-project-fields">
                <form [formGroup]="postImageOrVideo" enctype="multipart/form-data" (ngSubmit)="submitImageOrVideoText()">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" name="title" formControlName="title" placeholder="Title">
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('title').errors?.['required'] && postImageOrVideo.get('title').touched">
                                Title is required!
                            </div>
                            <div class="alert alert-danger sn-filed" *ngIf="postImageOrVideo.get('title').hasError('minlength') && postImageOrVideo.get('title').touched">
                                Title cant must be long at least 3 characters!
                            </div>
                            <div class="alert alert-danger sn-filed" *ngIf="postImageOrVideo.get('title').hasError('maxlength') && postImageOrVideo.get('title').touched">
                                Title cant be longer that 50 characters!
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('whichOne')?.errors?.['required'] && postImageOrVideo.get('whichOne')?.touched">
                                Privacy is required
                              </div> 
                        </div>
                        <div class="col-lg-12 col-sm-12">					
                            <input formControlName="imageOrVideo" (change)="onFileSelect($event)" type="file" id="file">			
                        </div>
                        <div class="col-lg-12 col-sm-12">					
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('imageOrVideo').errors?.['required'] && postImageOrVideo.get('imageOrVideo').touched">
                                Video or Image is required!
                              </div>
                              <div class="alert alert-danger sn-filed" *ngIf="postImageOrVideo.get('imageOrVideo').errors?.['pattern'] && postImageOrVideo.get('imageOrVideo').touched">
                               Video or image must be in proper format!
                              </div>
                              
                              <ng-container *ngIf="!videoOrPhotoError">
                                <div class="alert alert-danger sn-filed" *ngIf="postImageOrVideo.get('imageOrVideo').errors?.['pattern'] && postImageOrVideo.get('imageOrVideo').touched">
                                    Its not proper extension for video or photo
                                   </div>
                              </ng-container>
                        </div>
                        <div class="col-lg-12">
                            <div class="inp-field">
                                Privacy
                                <select placeholder="Privacy" formControlName="privacy">
                                    <option value="private">Private</option>
                                    <option value="public">Public</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('privacy')?.errors?.['required'] && postImageOrVideo.get('privacy')?.touched">
                                Privacy is required
                              </div> 
                        </div>
                        <div class="col-lg-12">
                            <textarea name="description" formControlName="content" placeholder="Content"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('content').errors?.['required'] && postImageOrVideo.get('content').touched">
                              Content is required!
                            </div>
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('content').hasError('minlength') && postImageOrVideo.get('content').touched">
                              Content must be at least 10 characters long!
                            </div>
                            <div class="alert alert-danger sn-field" *ngIf="postImageOrVideo.get('content').hasError('maxlength') && postImageOrVideo.get('content').touched">
                              Content cannot be longer than 1000 characters!
                            </div>
                          </div>
                          
                        <div class="col-lg-12">
                            <ul>
                                <li><button class="active" type="submit" value="post">Post</button></li>
                                <li><a (click)="imageCancle()" title="">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div><!--post-project-fields end-->
            <a href="#" title=""><i class="la la-times-circle-o"></i></a>
        </div><!--post-project end-->
    </div><!--post-project-popup end-->
</main>





